<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <title>Energy Outreach Colorado Dashboard</title>
  </head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

  <body>
    <div class="container">
      <div class="row">
        <div class="align-self-center col-3">
          <select class="form-control" id ='county'>
              <option value="DENVER COUNTY">DENVER COUNTY</option>
              <option value="COLORADO STATE">COLORADO STATE</option>
              <option value="ADAMS COUNTY">ADAMS COUNTY</option>
          </select>
        </div>
        <div class="col-9 justify-content-end">
          <img src="{{ url_for('static', filename='images/EOC_Tag_1300px.jpg') }}" class="float-right" alt="Energy Outreach Colorado" height="150">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>2018 OVERVIEW</h2>
        </div>
        <div class="col-6">
          <table class="table">
            <thead>  
            </thead>
            <tbody>
              <tr>
                <th scope="row">Low Income Households</th>
                <td>PLACE HOLDER 1</td>
              </tr>
              <tr>
                <th scope="row">Total Households Assisted</th>
                <td>PLACE HOLDER 2</td>
              </tr>
              <tr>
                <th scope="row">% of LI Households Assisted/th>
                <td>PLACE HOLDER 3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>FULL STATS</h2>
        </div>
          {{countyData}}
      </div>

      <div class="row">
        <div class="col-12">
          <h2>HISTORICAL TRENDS</h2>
        </div>
        <div class="col-6">
          <div class="chart1" id="bargraph">
            <script>
              var data1 = {{plot1 | safe}};
              var layout1 = { 
                title: 'Chart 1',
                font: {size: 18}
              };
              var config1 = {responsive: true}
              
              Plotly.plot('bargraph',data1, layout1, config1);
            </script>
          </div>
        </div>
        <div class="col-6">
          <div class="chart2" id="bargraph2">
            <script>
              var data2 = {{plot2 | safe}};
              var layout2 = { 
                title: 'Chart 2',
                font: {size: 18}
              };
              var config2 = {responsive: true}
              Plotly.newPlot('bargraph2', data2, layout2, config2);
            </script>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>
