.container {
    padding: 40px 60px 60px;
}

.container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.eoc-logo,
.cfd-logo {
    width: 300px;
    margin: 20px 0;
}

.eoc-logo {
    margin-left: -12px;
}

@media (max-width:767px){
    .container {
        padding: 10px 20px 10px 10px;
    }
}
