.container {
    font-family: 'Roboto', sans-serif;
    padding: 40px 60px 60px;
}

.container h1 {
    padding: 50px;
    margin: 0;
}

.container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.eoc-logo,
.cfd-logo {
    width: 300px;
    margin: 20px 0;
}

.eoc-logo {
    margin-left: -12px;
}
