@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');        

.container {
    font-family: 'Nunito', sans-serif;
    padding: 20px;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.eoc-logo {
    height: 150px;
}
    
.container h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    margin: 18px 0 6px;
}

.container table {
    border: 1px solid rgb(206, 206, 206);
    font-size: 13px;
    border-collapse: collapse;
    font-weight: 400;
}

.container thead tr {
    height: 22px;
    background: rgb(206, 206, 206);
}

.container tbody tr {
    border-bottom: 1px solid rgb(206, 206, 206);
}

.container tbody tr td {
    padding: 2px 5px;
}

.dropdown-container label {
    display: block;
    padding: 0 0 8px;
}

select.dropdown {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 8px;
    width: 250px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 2px;
    appearance: none;
    background-color:rgb(223, 223, 223);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .5em auto, 100%;
}

.summarytable {
    padding: 20px 0;
}

.bold {
    font-weight: 700;
    font-size: 17px;
    text-align: right;
    width: 120px; 
}