.container {
    padding: 40px 60px 10px;
}

.link {
    color: #4d4d4d;
}

.container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.explore, 
.help {
    color: white;
    padding: 10px 12px;
    border-radius: 7px;
    margin: 20px 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.explore {
    background: #00b380;
}

.help {
    background: #f16772;
}

.explore:hover,
.help:hover {
    cursor: pointer;
}

@media (max-width:767px){
    .container {
        padding: 10px 20px 10px 10px;
    }
}