.navbar {
	margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px 24px;
    background: #fff;
	border-bottom: 1px solid #fcb61a;
	margin-right: 40px;
	position: relative;
	box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.09);
}

.lightbulb {
	width: 70px;
	position: absolute;
	bottom: -32px;
	left: -32px;
}


.nav-links {
	width: 400px;
	font-weight: 300;
    display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
	color: #000;
	position: relative;
	font-size: 22px;
	font-weight: 600;
}

.nav-links a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: -8px;
	left: 0;
	background-color: #fcb61a;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.nav-links a:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

@media (max-width:767px){
	.navbar {
		display: block;
		padding: 20px 0 20px 10px;
	}
	.nav-links {
		width: 280px;
	}
	.lightbulb {
		display: none;
	}
}

@media print {
	.navbar {
		display: none;
	}
}